@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'isidoraFont';
  src: url('/fonts/Isidora/Isidora-Light.otf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'isidoraFont';
  src: url('/fonts/Isidora/Isidora-Regular.otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'isidoraFont';
  src: url('/fonts/Isidora/Isidora-Medium.otf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'isidoraFont';
  src: url('/fonts/Isidora/Isidora-Semi-Bold.otf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'isidoraFont';
  src: url('/fonts/Isidora/Isidora-Bold.otf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'isidoraFont';
  src: url('/fonts/Isidora/Isidora-Bold.otf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
